<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ .Title }}</title>
  	<link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body onresize="navHeaderAdjust()">
	<div class="nav">
    <a href="{{ .Site.BaseURL }}" id="nav-header">
      <span id="nav-header-long">Diego Alberto Torres Quintanilla</span>
      <span id="nav-header-short">Diego Torres</span>
    </a>
    <div class="nav-pills">
      {{- range $idx, $el := .Site.Menus.main -}}
        <div class="nav-pill">
          <a class="nav-link" href="{{ .URL }}">{{- printf "%s" .Name -}}</a>
        </div>
        <span class="nav-pill">|</span>
      {{- end -}}
      <div class="nav-pill">
        {{- if eq .Site.Params.locale "en-US" -}}
          <a class="nav-link" href="http://es.{{- .Site.Params.masterURL -}}">Español</a>
        {{- else -}}
          <a class="nav-link" href="http://en.{{- .Site.Params.masterURL -}}">English</a>
        {{- end -}}
      </div>
    </div>
    <!-- An ugly HTML/CSS patch to make the parent nav div expand to the size of its children -->
    <div style="clear: both;"></div>
	</div>
